.nav-link {
    font-weight: bold;
    color: gray;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    padding-bottom: 4px;
    font-size: 0.875rem; /* Smaller font size */
}

.nav-link:hover {
    color: #FF0000;
}

.active-link {
    color: #FF0000;
    border-bottom: 3px solid #FF0000;
    border-radius: 3px;
    font-size: 0.875rem; /* Keep font size consistent for active links */
}
